exportPattern("*")

useDynLib(SigTree)

import(ape)
importFrom(phylobase, phylo4d, tdata, "tdata<-", hasEdgeLength)
import(phyext2)
import(RColorBrewer)
import(phyloseq)

importFrom(graphics, segments, lines, par, strwidth, text, strheight)
importFrom(utils, capture.output, write.csv)
importFrom(stats, reorder, pchisq, p.adjust, median, uniroot, pnorm, qnorm)