#exportPattern(num.edges, num.tips, num.internal.nodes, num.total.nodes, srt.pvalues, stouffers, fishers, index.matrix, p.p2.ADJ.p1, result, tip.colors, edge.colors, plotSigTree, export.figtree, export.inherit, plotphylo2, circularplot2)
exportPattern("*")

useDynLib(SigTree)

import(ape)
import(phyext)
import(RColorBrewer)
import(phyloseq)
